<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <properties resource="database.properties"/> -->
<!-- 	<settings>
		<setting name="logImpl" value="LOG4J"/>
		<setting name="autoMappingBehavior" value="FULL"/>
	</settings> -->
	<typeAliases>
		<package name="cn.easybuy.param"/>
		<package name="cn.easybuy.entity"/>
	</typeAliases>
<!-- 	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments> -->
<!-- 	<mappers>
		<mapper resource="cn/easybuy/dao/user/UserMapper.xml"/>
		<mapper resource="cn/easybuy/dao/product/ProductCategoryDao.xml"/>
		<mapper resource="cn/easybuy/dao/product/ProductDao.xml"/>
		<mapper resource="cn/easybuy/dao/news/NewsDao.xml"/>
		<mapper resource="cn/easybuy/dao/order/OrderDao.xml"/>
		<mapper resource="cn/easybuy/dao/order/OrderDetailDao.xml"/>
		<mapper resource="cn/easybuy/dao/order/UserAddressDao.xml"/>
	</mappers> -->
</configuration>